<header>
<h1 class="fancy"><span>Experiences</span></h1>
</header>
<article>
  <ul class="experiences">
    <% var left = true; %>
    <% var years = Object.keys( experiences); %>
    <% for(var i = years.length; i > 0; i--) { %>
    <% var year = years[i-1]; %>
    <li>
      <h2><%= year %></h2>
    </li>
    <% for (var x in experiences[year]) { %>
    <% var xp = experiences[year][x] %>
    <li>
    <% left = !left; %>
    <% if (left) { %>
      <div><img src="<%= xp.img %>"></div>
    <% } %>
      <div>
        <span>
          <%- markdown(xp.desc) %>
          <% if (xp.tags) { %>
          <ul class="tags">
            <% for (var t in xp.tags) { %>
            <li><%= xp.tags[t] %></li>
            <% } %>
          </ul>
          <% } %>
        </span>
      </div>
    <% if (!left) { %>
      <div><img src="<%= xp.img %>"></div>
    <% } %>
    </li>
    <% } %>
    <% } %>
  </ul>
</article>

